@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/sitecss")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/fontawesome")
</head>
<body>
    @Html.Action("Header", "Nav")
    <div class="sitebody">
        @RenderBody()
    </div>
    @Html.Action("Footer", "Nav")

    @Scripts.Render("~/bundles/bootstrapscripts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")
    
    <script>
        (function (helper) {
            $(function () {
                helper.analyticsSetup();
                helper.resumeBtnBinding();
            });
        })(analyticsHelper);
    </script>
</body>
</html>